################################################################################
# Family & Device:    iCE40HX1K
# Package:            TQ144
# Date:               2023/04/05
################################################################################

set_io clk 21
set_io vsync 79 # PIO1_03
set_io csync 87 # PIO1_06
