################################################################################
# Family & Device:    iCE40HX1K
# Package:            TQ144
# Date:               2023/04/05
################################################################################

set_io clk 21
set_io led 87 # PIO1_06
